body {
  background: black;
  font-family: 'Work Sans', sans-serif;
}

button:hover,
button:active {
  background-color: red;
  color: black;
}

.App {
  display: grid;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
}

.h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 200;
  color: red;
}

.btn {
  width: 100%;
  margin: 15px 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  font-weight: 200;
  color: #6b6b6b;
  background-color: black;
  border: none;
  transition: all 1.2s;
}

/* dkp table */
.dkp-table {
  max-width: 1200px;
  margin: 0 auto;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #6b6b6b !important;
}

.MuiTableRow-root th div span span svg {
  color: #000 !important;
}

.buttonNav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 1200px;
}

.btn-nav {
  max-width: 150px;
  justify-self: center;
}

.Events {
  display: grid;
}

.iframe-container {
  height: 80vh;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
}

/* media queries */
/* Less than 799 */
@media screen and (max-width: 600px) {
  .h2 {
    font-size: 1.2em;
  }
}